HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/com/generation/progetto_finale/auth/dto/FridgeDTO.java
src/main/java/com/generation/progetto_finale/auth/dto/mappers/FridgeMapper.java
src/main/java/com/generation/progetto_finale/auth/dto/mappers/FridgeService.java
src/main/java/com/generation/progetto_finale/auth/model/Fridge.java
src/main/java/com/generation/progetto_finale/auth/repository/FridgeRepository.java
src/main/java/com/generation/progetto_finale/controller/FridgeController.java
